<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Blockhain monitoring</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="loader">
        <p>Loading...</p>
      </div>

      <div v-else>
        <h2>Blockchain network information</h2>
        <p>
          Noeud présent sur le réseaux:
          <span class="globalInfo--number">{{ nodesInfo.length }}</span>
        </p>

        <div class="nodeInfo__container">
          <table
            v-for="(node, index) in nodesInfo"
            :key="node.url"
            class="nodeInfo__table"
          >
            <tr class="nodeInfo__table--firstLine">
              <td colspan="2">Node {{ index + 1 }}</td>
            </tr>
            <tr>
              <td>URL</td>
              <td>{{ node.url }}</td>
            </tr>
            <tr>
              <td>Clients</td>
              <td>{{ node.clients.join(', ') }}</td>
            </tr>
            <tr>
              <td>Servers</td>
              <td>{{ node.servers.join(', ') }}</td>
            </tr>
          </table>
        </div>

        <h2>Blockchain state</h2>
        <div class="blockchain__container">
          <div
            v-for="(block, index) in blockchain"
            :key="block.hash"
            class="blockchain__block__container"
          >
            <div class="blockchain__block">
              <div>
                <span class="blockchain__block--prop">timestamp: </span>
                <span class="blockchain__block--value"
                  >{{ block.timestamp }}</span
                >
              </div>

              <div>
                <span class="blockchain__block--prop">previousHash: </span>
                <span class="blockchain__block--value"
                  >{{ block.previousHash }}</span
                >
              </div>

              <div>
                <span class="blockchain__block--prop">hash: </span>
                <span class="blockchain__block--value">{{ block.hash }}</span>
              </div>

              <div>
                <span class="blockchain__block--prop">nonce: </span>
                <span class="blockchain__block--value">{{ block.nonce }}</span>
              </div>
            </div>

            <div class="blockchain__arrow"></div>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import {
        getNodesConnectedOnNetwork,
        getNodesInfoFrom,
        getBlockchainFrom,
        asyncForEach,
      } from "./utils.js";

      new Vue({
        el: "#app",
        data: {
          loader: true,
          nodesInfo: [],
          blockchain: [],
        },
        async created() {
          this.nodesInfo = await this.getNodesInfo();

          if (this.nodesInfo.length) {
            this.blockchain = await this.getBlockchain(this.nodesInfo[0].url);
            this.blockchain.push(
              {
                timestamp: 123,
                previousHash: "prg6534d8hrg6gbr",
                hash: "heash",
                nonce: 2,
              },
              {
                timestamp: 123,
                previousHash: "prg6534d8hrg6gbr",
                hash: "heash",
                nonce: 2,
              }
            );
          }

          this.loader = false;
        },
        methods: {
          getNodesInfo: async function () {
            const nodesConnectedOnNetwork = await getNodesConnectedOnNetwork();
            console.log("nodesConnectedOnNetwork", nodesConnectedOnNetwork);

            const nodesInfo = [];
            await asyncForEach(nodesConnectedOnNetwork, async (nodeUrl) => {
              const nodeInfo = await getNodesInfoFrom(nodeUrl);
              nodesInfo.push({ url: nodeUrl, ...nodeInfo });
            });

            return nodesInfo;
          },
          getBlockchain: async function (nodeUrl) {
            return await getBlockchainFrom(nodeUrl);
          },
        },
      });
    </script>
  </body>
</html>
